@font-face {
  font-family: 'icon';
  src        : url('../fonts/icon.eot?a5fb33');
  src        : url('../fonts/icon.eot?a5fb33#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?a5fb33') format('truetype'),
    url('../fonts/icon.woff?a5fb33') format('woff'),
    url('../fonts/icon.svg?a5fb33#icon') format('svg');
  font-weight : normal;
  font-style  : normal;
  font-display: block;
}

[class^="icon-"]:before {
  position               : relative;
  top                    : 1px;
  display                : inline-block;
  speak-as               : none;
  font-family            : icon;
  font-style             : normal;
  font-weight            : 500;
  line-height            : 1;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-circle-close:before {
  content: "\e900";
}
.icon-circle-lg:before {
  content: "\e901";
}
.icon-circle-load:before {
  content: "\e902";
}
.icon-circle-menu:before {
  content: "\e903";
}
.icon-circle-minus:before {
  content: "\e904";
}
.icon-circle-plus:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-github-lg:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-linkedin-lg:before {
  content: "\e90a";
}
.icon-load:before {
  content: "\e90b";
}
.icon-loader:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-square-lg:before {
  content: "\e90f";
}
